<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/main-style.css">
</head>
<header>
    <div container="nav-bar">
        <h1>Home</h1>
        <h1><a href="/create-post">Create Post</a></h1>
        <h1>About Me</h1>
    </div>
</header>